<ion-content fullscreen scrollY="false">
	<div class="wave-container">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5e72e4" fill-opacity="1" d="M0,128L48,154.7C96,181,192,235,288,245.3C384,256,480,224,576,186.7C672,149,768,107,864,80C960,53,1056,43,1152,64C1248,85,1344,139,1392,165.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
	</div>
	<div class="back-button-container ion-padding-start ion-padding-top">
		<ion-buttons slot="start">
			<ion-back-button
				color="light"
				defaultHref="/login"
				routerLink="/login"
				routerDirection="back"
			>
			</ion-back-button>
		</ion-buttons>
	</div>
	
	<ion-grid style="height: 100%" class="ion-padding reset-container">
		<ion-row 
			class="ion-align-items-center ion-justify-content-center"
			style="height: 100%; flex-direction: column"
		>
			<h2 class="title">Reset password</h2>
			<p 
				class="subtitle" 
				style="max-width: 240px; text-align: center; padding-bottom: 20px;"
			>
				Enter your email and we will send you a reset link
			</p>

			<form class="form" [formGroup]="forgotForm">
				<ion-item lines="none">
					<ion-input type="text" formControlName="email" placeholder="Enter your email"></ion-input>
				</ion-item>

				<div class="validation-errors">
					<ng-container *ngFor="let message of forgotFormMessages.email">
						<div 
							class="error-message"
							*ngIf="forgotForm.get('email').hasError(message.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)"
						>
							{{ message.message }}
						</div>
					</ng-container>
				</div>

				<div class="ion-text-center ion-padding-start ion-padding-end">
					<ion-button 
						*ngIf="!isLoading"
						type="submit"
						[disabled]="!forgotForm.valid"
						shape="round"
						expand="block"
						(click)="resetPassword()" 
						color="primary"
						mode="ios"
					>
						Reset Password
					</ion-button>
					<ion-button
						disabled
						*ngIf="isLoading"
						type="submit"
						shape="round"
						expand="block"
						color="primary"
						mode="ios"
					>
						<ion-spinner name="bubbles"></ion-spinner>
					</ion-button>
				</div>
			</form>
		</ion-row>
	</ion-grid>
</ion-content>