<ion-content class="content-core">
  <div class="wave-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5e72e4" fill-opacity="1" d="M0,128L48,154.7C96,181,192,235,288,245.3C384,256,480,224,576,186.7C672,149,768,107,864,80C960,53,1056,43,1152,64C1248,85,1344,139,1392,165.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
  </div>
  <div class="ion-margin-start ion-margin-bottom welcome-container">
    <p class="ion-no-margin ion-margin-top text-white">Good Morning</p>
    <h4 class="ion-no-margin text-white">Amirul Aiman</h4>
  </div>

  <ion-card mode="ios" class="card-core" class="ion-no-margin ion-margin-start ion-margin-end summary-container">
    <ion-card-content>
      <ion-item lines="none">
        <fa-icon [icon]="faBolt" size="3x" [styles]="faIconStyle"></fa-icon>
        <ion-label class="ion-margin-start">
          <p class="ion-text-bold">Due on 19/05/2020</p>
          <h2 class="ion-text-bold">RM182.77</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list class="list-core">
    <ion-list-header>
      <ion-label>
        <h2 class="ion-text-bold">Usage</h2>
      </ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <div class="chart-container">
        <canvas #barCanvas></canvas>
      </div>
    </ion-item>
  </ion-list>

  <ion-slides pager="true" [options]="sliderConfig" class="ion-margin-bottom">
    <ion-slide class="ion-margin-bottom">
      <ion-card class="extras" (click)="navigatePage('/services')">
        <ion-img [src]="graphic1"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Services</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide class="ion-margin-bottom">
      <ion-card class="extras" (click)="navigatePage('/calculator')">
        <ion-img [src]="graphic2"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Calculator</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide class="ion-margin-bottom">
      <ion-card class="extras" (click)="navigatePage('/compare-usage')">
        <ion-img [src]="graphic3"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Compare</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide class="ion-margin-bottom">
      <ion-card class="extras" (click)="navigatePage('/usage')">
        <ion-img [src]="graphic4"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Usage</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>