<ion-header mode="ios">
  <ion-toolbar mode="ios" class="ion-text-center" color="primary">
    <ion-buttons slot="start">
			<ion-back-button 
				defaultHref="/core/profile"
				routerLink="/core/profile"
				routerDirection="back"
			>
			</ion-back-button>
    </ion-buttons>
    <ion-title>Share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <ion-list class='list-core'>
    <ion-list-header lines="none">
			<ion-label>
        <h2>Share application</h2>
      </ion-label>
		</ion-list-header>

    <ion-item detail lines="none" (click)="rate()">
      <ion-icon name="star-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Rate this app</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

