<ion-header mode="ios">
  <ion-toolbar mode="ios" class="ion-text-center" color="primary">
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <ion-card mode="ios">
    <ion-item lines="none">
      <ion-icon name="notifications-outline" slot="start" color="warning"></ion-icon>
      <ion-label>
        <h3>Pending monthly bill payment</h3>
        <p>15/05/2020</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="ios">
    <ion-item lines="none">
      <ion-icon name="notifications-outline" slot="start" color="success"></ion-icon>
      <ion-label>
        <h3>Successful bill payment</h3>
        <p>11/04/2020</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
