<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <ion-list class="list-core">
    <ion-list-header>
      <h3 class="ion-no-margin">
        <ion-icon name="bar-chart-outline" style="display: inline-block;vertical-align: middle;"></ion-icon>
        <span style="display: inline-block;vertical-align: middle; margin-left: 0.7rem">Total Work Activity Assign: </span>
        <ion-badge color="primary" mode="ios" style="display: inline-block;vertical-align: middle; margin-left:0.7rem">11</ion-badge>
      </h3>
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="card-core  ion-no-margin" mode="ios" color="success">
            <ion-card-content class="ion-padding">
              <ion-row class="ion-no-padding">
                <ion-col>
                  
                </ion-col>
                 
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <h1>51</h1>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <p>New</p>
                  </ion-label>
                </ion-col>

                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-right">
                    <ion-badge color="medium"><span>+7 today</span></ion-badge>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="card-core  ion-no-margin" mode="ios" color="danger">
            <ion-card-content class="ion-padding">
              <ion-row class="ion-no-padding">
                <ion-col>
                  
                </ion-col>
                 
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <h1>61</h1>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <p>Backing</p>
                  </ion-label>
                </ion-col>

                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-right">
                    <ion-badge color="medium"><span>+5 today</span></ion-badge>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-card class="card-core  ion-no-margin" mode="ios" color="warning">
            <ion-card-content class="ion-padding">
              <ion-row class="ion-no-padding">
                <ion-col>
                  
                </ion-col>
                 
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <h1>71</h1>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <p>In Progress</p>
                  </ion-label>
                </ion-col>

                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-right">
                    <ion-badge color="medium"><span>+7 today</span></ion-badge>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="card-core  ion-no-margin" mode="ios" color="tertiary">
            <ion-card-content class="ion-padding">
              <ion-row class="ion-no-padding">
                <ion-col>
                  
                </ion-col>
                 
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <h1>81</h1>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-center">
                    <p>Completed</p>
                  </ion-label>
                </ion-col>

                <ion-col class="ion-no-padding">
                  <ion-label class="ion-text-right">
                    <ion-badge color="medium"><span>+7 today</span></ion-badge>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list-header>
      <h3 class="ion-no-margin">
        <ion-icon name="list-outline" style="vertical-align: middle;"></ion-icon>
        <span style="display: inline-block;vertical-align: middle; margin-left: 0.7rem">Task </span>
      </h3>
    </ion-list-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="card-core ion-no-margin" mode="ios">
            <ion-card-content class="ion-no-padding">
              <img src="assets/svg/activity.svg">
            </ion-card-content>
            <ion-card-header class="ion-no-padding ion-padding-bottom">
              <p class="ion-no-margin ion-text-center ion-text-bold">Work Activity</p>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="card-core ion-no-margin" mode="ios">
            <ion-card-content class="ion-no-padding">
              <img src="assets/svg/request.svg">
            </ion-card-content>
            <ion-card-header class="ion-no-padding ion-padding-bottom">
              <p class="ion-no-margin ion-text-center ion-text-bold">Work Request</p>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-card class="card-core ion-no-margin" mode="ios">
            <ion-card-content class="ion-no-padding">
              <img src="assets/svg/reading.svg">
            </ion-card-content>
            <ion-card-header class="ion-no-padding ion-padding-bottom">
              <p class="ion-no-margin ion-text-center ion-text-bold">Operational Reading</p>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card class="card-core ion-no-margin" mode="ios">
            <ion-card-content class="ion-no-padding">
              <img src="assets/svg/registration.svg">
            </ion-card-content>
            <ion-card-header class="ion-no-padding ion-padding-bottom">
              <p class="ion-no-margin ion-text-center ion-text-bold">Asset Registrations</p>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
